@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

/* Table of Content
==================================
#. Basic Typography
#. Helper
#. Preloader
#. Navbar
#. Home
#. About
#. Services
#. Download Apps
#. Testimonial
#. Play Video
#. Portfolio
#. Contact
#. Footer
#. Responsive
==================================*/

/*======================
    Basic Typography
========================*/
body {
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}
a, a:hover, a:focus, button, button:focus {
	text-decoration: none !important;
	outline: none !important;
}
::selection {
	background: rgba(166, 175, 189, 0.3);
}
::-moz-selection {
 background: rgba(166, 175, 189, 0.3);
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:#1eb1de;
	z-index: 9999999;
}
#status {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
}
.spinner {
	margin: 0 auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 20px solid rgba(255, 255, 255, 0.2);
	border-right: 20px solid rgba(255, 255, 255, 0.2);
	border-bottom: 20px solid rgba(255, 255, 255, 0.2);
	border-left: 20px solid #ff214f;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.spinner, .spinner:after {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
 @-webkit-keyframes load8 {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @keyframes load8 {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.back_top {
	text-align: center;
	position: fixed;
	bottom: 25px;
	height: 36px;
	width: 36px;
	display: none;
	z-index: 10000;
	border-radius: 30px;
	right: 25px;
	transition: all 0.5s;
}
.back_top i {
	color: #fff;
	line-height: 36px;
	font-size: 30px;
	display: block;
}

/*==========================
    Helper
============================*/
.section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	background-color: #fff;
}
.h-100vh {
	height: 100vh;
}
.z-index {
	z-index: 2;
}
.clippath_none {
	clip-path: none !important;
}
.section-subtitle {
	max-width: 650px;
}
.btn {
	padding: 10px 25px;
	font-size: 14px;
	font-weight: 700;
	transition: all 0.5s;
	letter-spacing: 0.6px;
	color: #fff;
	text-transform: uppercase;
	outline: none !important;
}
.btn-round-6 {
	border-radius: 6px;
}
.btn-round {
	border-radius: 30px;
}
.btn-custom {
	border: 1px solid;
	margin-right:10px;
	box-shadow:0 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.btn-custom:last-child{
	margin-right:0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open > .dropdown-toggle.btn-custom {
	color: #f3f3f3;
}
.btn-outline-custom {
	border: 2px solid #f5f5f5;
	margin-right:10px;
}
.btn-outline-custom i, .btn-custom i{
	font-size:16px;
	margin-left:3px;
}
.btn-outline-custom:last-child{
	margin-right:0;
}
.btn-outline-custom:hover, .btn-outline-custom:focus, .btn-outline-custom:active, .btn-outline-custom.active, .btn-outline-custom.focus, .btn-outline-custom:active, .btn-outline-custom:focus, .btn-outline-custom:hover, .open > .dropdown-toggle.btn-outline-custom {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
#home-svg {
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}
#home-svg .p-curve {
    fill: #ffffff;
}
.custom-btn-item{
	color: #ffffff;
	background-color:transparent;
	border-color: #ffffff;
}
.custom-btn-item:hover{
	color: #ffffff;
	background-color: #ff214f;
	border-color: #ff214f;
}
.bg-overlay {
	background-color: rgba(0, 0, 0, 0.69);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
#about .align-items-center img{
	background:transparent;
	border:0;
	padding: 0;
    border-radius: 14px;
}
.section h2{
	position:relative;
	padding-bottom:0px;
}
.section#about .align-items-center .bar {
	height: 4px;
	width: 70px;
	background: #ff214f;
	margin: 10px auto 10px 0;
	position: relative;
	border-radius: 30px;
	text-align: left;
}
.section#about .align-items-center .bar::before {
	content: '';
	position: absolute;
	left: 0;
	top: -2.7px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #ff214f;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: MOVE-BG;
	animation-name: MOVE-BG;
}
.text-center .bar {
	height: 4px;
	width: 70px;
	background: #ff214f;
	margin: 10px auto;
	position: relative;
	border-radius: 30px;
	text-align: center;
}
.text-center .bar::before {
	content: '';
	position: absolute;
	left: 0;
	top: -2.7px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #ff214f;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: MOVE-BG;
	animation-name: MOVE-BG;
}
@-webkit-keyframes MOVE-BG {
from {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
to {
	-webkit-transform: translateX(65px);
	transform: translateX(65px);
}
}
@keyframes MOVE-BG {
from {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
to {
	-webkit-transform: translateX(65px);
	transform: translateX(65px);
}
}

/*===========================
    Preloader
=============================*/
.preloader {
	background-color: #f9f9f9;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999;
	margin-top: 0;
	top: 0
}
.loader-wrapper {
	width: 100%;
	height: 100%;
	position: relative
}
.loader-content {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.loader-dot {
	width: 20px;
	height: 20px;
	background-color: #1eb1de;
	position: absolute;
	left: 65px;
	top: 65px;
	border-radius: 100%
}
.loader-dot:nth-child(2n+0) {
	margin-right: 0
}
.dot-1 {
	-webkit-animation: key-one 2s infinite;
	animation: key-one 2s infinite;
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}
.dot-2 {
	-webkit-animation: key-two 2s infinite;
	animation: key-two 2s infinite;
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}
.dot-3 {
	-webkit-animation: key-three 2s infinite;
	animation: key-three 2s infinite;
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}
.dot-4 {
	-webkit-animation: key-four 2s infinite;
	animation: key-four 2s infinite;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
.dot-5 {
	-webkit-animation: key-five 2s infinite;
	animation: key-five 2s infinite;
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}
.dot-6 {
	-webkit-animation: key-six 2s infinite;
	animation: key-six 2s infinite;
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}
.dot-7 {
	-webkit-animation: key-seven 2s infinite;
	animation: key-seven 2s infinite;
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}
.dot-8 {
	-webkit-animation: key-eight 2s infinite;
	animation: key-eight 2s infinite;
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}
.dot-center {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50px;
	top: 50px;
	-webkit-animation: key-big 2s infinite;
	animation: key-big 2s infinite;
	-webkit-animation-delay: .5s;
	animation-delay: .5s
}
@-webkit-keyframes key-big {
	50% {
		-webkit-transform: scale(.5)
	}
}
@keyframes key-big {
	50% {
		transform: scale(.5);
		-webkit-transform: scale(.5)
	}
}
@-webkit-keyframes key-one {
	50% {
		-webkit-transform: translate(-65px, -65px)
	}
}
@keyframes key-one {
	50% {
		transform: translate(-65px, -65px);
		-webkit-transform: translate(-65px, -65px)
	}
}
@-webkit-keyframes key-two {
	50% {
		-webkit-transform: translate(0, -65px)
	}
}
@keyframes key-two {
	50% {
		transform: translate(0, -65px);
		-webkit-transform: translate(0, -65px)
	}
}
@-webkit-keyframes key-three {
	50% {
		-webkit-transform: translate(65px, -65px)
	}
}
@keyframes key-three {
	50% {
		transform: translate(65px, -65px);
		-webkit-transform: translate(65px, -65px)
	}
}
@-webkit-keyframes key-four {
	50% {
		-webkit-transform: translate(65px, 0)
	}
}
@keyframes key-four {
	50% {
		transform: translate(65px, 0);
		-webkit-transform: translate(65px, 0)
	}
}
@-webkit-keyframes key-five {
	50% {
		-webkit-transform: translate(65px, 65px)
	}
}
@keyframes key-five {
	50% {
		transform: translate(65px, 65px);
		-webkit-transform: translate(65px, 65px)
	}
}
@-webkit-keyframes key-six {
	50% {
		-webkit-transform: translate(0, 65px)
	}
}
@keyframes key-six {
	50% {
		transform: translate(0, 65px);
		-webkit-transform: translate(0, 65px)
	}
}
@-webkit-keyframes key-seven {
	50% {
		-webkit-transform: translate(-65px, 65px)
	}
}
@keyframes key-seven {
	50% {
		transform: translate(-65px, 65px);
		-webkit-transform: translate(-65px, 65px)
	}
}
@-webkit-keyframes key-eight {
	50% {
		-webkit-transform: translate(-65px, 0)
	}
}
@keyframes key-eight {
	50% {
		transform: translate(-65px, 0);
		-webkit-transform: translate(-65px, 0)
	}
}

/*==========================
    Navbar Custom
============================*/
.custom-nav {
	background-color: transparent;
	padding: 20px 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 999;
	margin-bottom: 0px;
	transition: all 0.5s ease-in-out;
}
.custom-nav .navbar-nav li a {
	color: #fff !important;
	font-size: 14px;
	background-color: transparent !important;
	margin: 0 7px;
	letter-spacing: 0.05em;
	line-height: 24px;
	text-transform:uppercase;
	transition: all 0.5s;
	font-weight: 700;
}
.custom-nav .navbar-brand .logo-light, .custom-nav .navbar-brand .logo-dark {
	height: 44px;
}
.logo .logo-light {
	display: inline-block;
}
.stickyadd .logo .logo-dark {
	display: inline-block;
}
.stickyadd .logo .logo-light {
	display: none;
}
.logo .logo-dark {
	display: none;
}
.custom-nav .navbar-brand {
	color: #fff !important;
	text-transform: uppercase;
	padding-bottom:0;
}
.custom-nav .navbar-toggler {
	color: #fff;
	font-size: 35px;
	padding: 0px;
}
.custom-nav.stickyadd {
	background-color: #fff !important;
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.08);
	padding: 15px 0px;
}
.custom-nav.stickyadd .navbar-nav li a {
	color: #000 !important;
}

/*===========================
    Home
=============================*/
.header-bg-img {
	background-image: url(../images/header-bg.jpg);
	position: relative;
	background-size: cover;
	background-position: center center;
}
.header-content {
	max-width: 850px;
}
.header-table-center {
	display: table-cell;
	vertical-align: middle;
}
.header-table {
	display: table;
	width: 100%;
	height: 100%;
}
.header-name {
	font-family:'Nunito', sans-serif;
	font-size: 50px;
	font-weight:800 !important;
}
.header-name span.element, .header-name span.simple-text-rotate{
	color:#ff214f;
}
.header-desc {
	max-width: 650px;
	font-size:16px;
	font-weight:600;
	line-height: 1.8;
	color: rgba(255, 255, 255, 0.8) !important;
}
.scroll_down {
	position: absolute;
	bottom: 5vh;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 13px;
	z-index: 8;
}
.scroll_down i {
	position: relative;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
	height: 44px;
	width: 44px;
	line-height: 44px;
	border-radius: 50px;
	border: 2px solid #ff214f;
	display: inline-block;
	color: #fff;
	font-size: 10px;
}
.scroll_down i:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 18px;
	border-radius: 20px 20px 0 0;
	z-index: -1;
	bottom: 0px;
	transition: all .2s;
	height: 20px;
	width: 4px;
	background: #ff214f;
}
.curv-img {
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 1;
}
.curv-img svg {
	display: block;
}
.clip-home {
	clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
	position: relative;
}

/*===========================
    About
=============================*/
.about_short_contact_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin:15px 0;
}
.about_short_contact_wrap ul {
    margin: 0px;
    list-style-type: none;
	left: 0;
    display: contents;
}
.about_short_contact_wrap ul li {
    margin: 0px 0px 10px 0px;
    width: 50%;
    float: left;
	color: #6c757d;
    position: relative;
    padding-left: 0px;
    padding-right: 20px;
}
.about_short_contact_wrap ul li label {
	font-weight: 700;
    color: #212529;
    min-width: 100px;
    display: inline-block;
    background:linear-gradient(90deg, #ececec 20%, #ffffff);
    padding: 2px 8px;
	font-size:1rem;
    border-radius: 4px;
    margin-right: 10px;
}
.about_short_contact_wrap ul li a {
    text-decoration: none;
    color: #6c757d;
    position: relative;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.about_short_contact_wrap ul li a:hover {
    color: #ff214f;
}
.about-social li {
	margin-bottom:10px;
}
.about-social li a {
	color: #42464a;
	height: 40px;
	width: 40px;
	padding:7px 14px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	border: 2px solid #d4d4d4;
	line-height: 36px;
	transition: all 0.5s;
	text-align: center;
}
.about-social li a i{
	font-size: 20px;
    top: 2px;
    position: relative;
    right: 14px;
    background: #ececec;
    padding: 5px 10px 3px 10px;
    border-radius: 2px 0 0 2px;
}

/*===========================
    Services
=============================*/
.services-boxes {
	background:#ffffff;
	border: 5px solid rgba(0, 0, 0, 0.07);
	margin-bottom:10px;
	border-radius:10px;
	box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
}
.services-boxes .services-boxes-icon{
	margin-top:10px;
}
.services-boxes .services-boxes-icon i {
	background: #efe8e8;
    width: 80px;
    height: 80px;
    font-size: 32px;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 80px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.services-boxes .services-title-border {
	height: 3px;
	border-radius:30px;
	width: 60px;
	margin: 15px auto;
	-webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.services-boxes:hover {
	transition: all 0.3s ease-in;
    background:#ff214f;
    color: #fff;
	border: 5px solid #ff214f;
	box-shadow:0 4px 35px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.03) rotate(0deg);
    transform: scale(1.03) rotate(0deg);
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.services-boxes:hover p.text-muted, .services-boxes:hover a.detail-link{
	color:#ffffff !important;
}
.services-boxes:hover .services-boxes-icon i{
	border-radius:50px;
	-webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.service-box {
	border: 1px solid #eaeaea;
	border-radius: 8px;
}
.services-boxes h5 {
	font-weight: 600;
}
.services-boxes a.detail-link{
	color:#3d3f42;
	font-size:15px;
	font-weight: 600;
	margin-bottom: 10px;
    display: block;
}
.service-box .service-content h5 {
	font-size: 20px;
	font-weight: 700;
}
.service-box .service-content p {
	font-size: 15px;
}

/*===========================
	Download Apps
===========================*/
.app-business-content p{
	font-size:18px;
	color:rgba(255, 255, 255, 0.8);
}
.gradient-bg {
    background: linear-gradient(140deg, rgba(255, 33, 78, 0.8) 10%, rgba(255, 33, 78, 0.8)) !important;
}
.gradient-overlay {
    position: relative;
    width: 100%;
}
.gradient-overlay:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6)) !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
ul.app-download-list li{
	margin:0 7px;
}
.app-download-list li a {
    padding: 10px 22px;
    color: inherit;
    font-size: 13px;
	border:2px solid #ffffff;
    line-height: 15px;
	border-radius:4px;
	margin-top:15px;
}
.app-download-list li a:hover {
    background:#ffffff;
    color: #ffffff;
    border:2px solid #ffffff;
	-webkit-transform: scale(1.06) rotate(0deg);
    transform: scale(1.06) rotate(0deg);
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.app-download-list li a:hover i, .app-download-list li a:hover h5, .app-download-list li a:hover span{
	color:#ff214f;
}
.app-download-list{
	margin-top:10px;
}
.icon-sm {
    font-size: 25px;
    line-height: 25px;
}
.download-text span {
    font-size: 13px;
}
.download-text h5 {
    font-size: 15px;
	margin-bottom:5px;
    color: inherit;
}

/*===========================
    Testimonial
=============================*/
.testi_boxes {
	max-width: 900px;
	position:relative;
	border: 5px solid rgba(0, 0, 0, 0.05);
	background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    padding:30px 40px 40px 40px;
    border-radius: 10px;
    margin: 20px 20px 15px 20px;
}
.client_review {
	font-size: 18px;
}
.client_name {
	font-size: 16px;
	color:#61676d;
}
p.client_name span{
	color:rgba(0, 0, 0, 0.9);
}
.testi_boxes .tam_testi_icon {
	font-size: 50px;
	left: 30px;
	top:15px;
    text-align: left;
	position: absolute;
	-webkit-transform: scale(1.1) rotate(10deg);
    transform: scale(1.1) rotate(10deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);   
}
.testi_boxes .tam_testi_icon2 {
	font-size: 50px;
	right: 30px;
	bottom:5px;
    text-align: left;
	position: absolute;
	-webkit-transform: scale(1.1) rotate(10deg);
    transform: scale(1.1) rotate(10deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
}
.testi_boxes div img{
	width:130px;
	height:130px;
	border:5px solid rgba(255, 255, 255, 0.1);
	box-shadow:0 8px 20px rgba(0, 0, 0, 0.15);
}
.owl-theme .owl-controls .owl-page {
	margin: 10px 0px;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 3px 4px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span {
	width: 25px;
}

/*===========================
    Play Video
=============================*/
.story-area {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../images/story-bg.jpg);
}
.story-area::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    position: absolute;
    content: '';
    opacity: .88;
}
.story-content {
    max-width: 720px;
    margin: 0 auto;
}
.story-content .section-title {
    margin-bottom: 0;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}
.section-title span {
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f9f9f9;
}
.story-content .section-title h2 {
    color: #ffffff;
    line-height: 38px;
    margin-bottom: 35px;
    font-weight: 500;
}
.play-icon {
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}
.play-icon .play-button {
  position: relative;
  margin: 0 auto;
  width:70px;
  height:70px;
  border-radius: 9999px;
  background-color:#fff;
  text-align: center;
  line-height:70px;
}
.play-icon .play-button a {
  font-size: 45px;
  color: #ff214f;
  background-color:#fffff;
  display: inline-block;
  height:70px;
  width:70px;
  line-height:70px;
  text-align: center;
  border-radius: 50%;
}
.play-icon .play-button .btn-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color:rgba(255, 255, 255, 1);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.play-icon .play-button .btn-wave {
  -webkit-animation: sonarWave 2s linear infinite;
          animation: sonarWave 2s linear infinite;
}
@-webkit-keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}

/*===========================
    Portfolio
=============================*/
.work_menu{
	background:#f8f9fa;
	padding:15px 10px;
	border-radius:6px;
	margin:0 15px;
	box-shadow:0 1px 15px rgba(0, 0, 0, 0.20);
}
.work_menu li a {
	cursor: pointer;
	display: block;
	border-radius: 4px;
	letter-spacing: 0.03em;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 14px;
	border:2px solid rgba(0, 0, 0, 0.1);
	padding: 6px 16px;
	transition: all 0.5s;
	margin-top: 5px;
	box-shadow:0 4px 8px 0px rgba(0, 0, 0, 0.09);
}
.work_menu a.active, .work_menu a:hover {
	border:2px solid transparent;
	color: #fff !important;
}
.work_item {
	position: relative;
	padding: 15px;
}
.work_box {
	overflow: hidden;
	position: relative;
}
.work_box .work_img {
	position: relative;
	overflow: hidden;
}
.work_box .work_img:after {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.work_box .work_img>img {
	transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
	border-radius: 0;
}
.work_box .work_detail {
	opacity: 0;
	color: #ffffff;
	width: 100%;
	padding: 30px;
	text-align:left;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	overflow: hidden;
	transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.work_box .work_detail h4 {
	font-size: 18px;
	text-transform:none;
}
.work_box .work_detail p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	text-transform:uppercase;
}
.work_box:hover .work_detail {
	bottom:0;
	transform: translate(0, 0);
	opacity: 1;
}
.work_box:hover .work_img:after {
	background: rgba(0, 0, 0, 0.8);
}
.work_box:hover .work_img>img {
	-webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.blog_box_area{
	box-shadow:0 7px 20px rgba(0, 0, 0, 0.05);
	-webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.blog_box_area:hover img{
	filter: grayscale(100%);
	-webkit-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}
.blog_box_area .img_blog img{
	border-radius:.25rem .25rem 0 0 !important; 	
}
.date_blog{
	font-size:15px;
}
.date_blog a{
	color:#787f86;
	font-weight:600;
	margin-right:8px;	
}
.date_blog a i{
	margin-right:2px;
}
.content_blog{
	text-align:center;
	padding:1.5rem;
}
.content_blog p i{
	font-size:15px;
	font-weight:500;	
}
.content_blog h5{
	line-height:1.4;
}
.blog_box_area .img_blog{
	position: relative;
}
.blog_box_area .date {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;
	font-size: 14px;
    font-weight: 600;
    background: #ff214f;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    border-radius: 0 4px 4px 0;
}
.blog_box_area .date i{
	color:#ffffff;
	margin-right: 8px;
    padding-top: 4px;
    display: inline-block;
    float: left;
}
.content_blog h5 a:hover{
	color:#ff214f !important;
	transition: all 0.5s;
}
.content_blog a.more_btn{
	background:#ff214f;
	color:#ffffff !important;
	border:2px solid #ff214f;
	border-radius: 4px;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
	padding: 5px 15px;
	display:inline-block;
    transition: all 0.5s;
	box-shadow:0 3px 20px rgba(0, 0, 0, 0.15)
}
.content_blog a.more_btn:hover{
	border:2px solid rgba(0, 0, 0, 0.15);
	background:transparent;
	color:#6c757d !important;
}

/*=========================
    Contact
===========================*/
.vfx-form-group .form-control {
	box-shadow:0 4px 8px 0px rgba(0, 0, 0, 0.08);
	height: 50px;
	font-weight:600;
	padding:8px 15px;
	border: 2px solid #e0e0e0;
}
.vfx-form-group textarea.form-control {
	height: auto;
}
.contact_box_area{
	background:#ffffff;
	border:2px solid #e0e0e0;
	border-radius:6px;
	padding:20px;
	width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 20px;
	box-shadow:0 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.contact_box_area div i{
	background: #efe8e8;
    width: 60px;
    height: 60px;
    font-size: 26px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
	float:left;
	margin-right:20px;
    line-height: 60px;
    border-radius: 50px;
}
.contact_box_area .contact_detail{
	text-align:left;
	position: relative;
    padding-left: 80px;
}
.contact_box_area .contact_detail p{
	margin-bottom:0
}
.contact_detail-title {
	font-size: 18px;
	line-height:26px;
}
.error {
	margin: 8px 0px;
	display: none;
	color: red;
}
.error_msg {
	margin-bottom: 20px;
	text-align: center;
	font-size: 18px;
	color: red;
	font-weight: 700;
}
.gig_loader {
	display: none;
}
#success_msg {
	text-align: center;
	margin-bottom: 20px;
}
#success_msg h3 {
	color: #0dba26;
	font-size: 22px;
}

/*======================
    Footer
========================*/
.footer {
	padding: 30px 0px;
	background-color: #242424 !important;
}
.footer .footer-alt p {
	font-size: 16px;
	color:#cccccc !important;
}
.footer .footer-alt p..text-muted{
	color:#93979a !important
}
.footer .footer-alt ul li a {
	border-radius: 50%;
	transition: all 0.5s;
	background-color: rgba(241, 241, 241, 0.08);
	width: 42px;
	height: 42px;
	display: block;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
}

/*===========================
    Responsive
=============================*/
@media (max-width: 991px){
.contact_box_area{
	margin-bottom:25px;
}
.custom-nav .navbar-nav{
	margin-top:15px;
}
.custom-nav .navbar-nav li a {
	margin: 0 0px;
	line-height: 20px;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	padding:9px 2px 8px 2px;
}
.custom-nav .navbar-toggler{
	color:#ffffff;
}
#about .align-items-center img{
	margin-top:20px;
}
.about_short_contact_wrap ul li label{
	margin-bottom:5px;
}
.stickyadd button.navbar-toggler{
	color:#000000;
}
.align-items-center .mt-3 h2{
	margin-top:1.5rem!important
}
.contact_box_area:last-child{
	margin-bottom:50px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.about_short_contact_wrap ul li{
	width:100%;
}
}
@media (min-width: 200px) and (max-width: 768px) {
.custom-nav {
	background-color: #fff !important;
	padding: 10px 0px !important;
}
.custom-nav .container {
	width: 88%;
}
.custom-nav .navbar-toggler {
	color: #000;
	font-size: 32px;
	border: none;
}
.custom-nav .logo .logo-dark {
	display: inline-block;
}
.custom-nav .navbar-nav li a {
	color: rgba(0, 0, 0, 0.6) !important;
}
.custom-nav .logo .logo-light {
	display: none;
}
.h-100vh {
	height: auto;
	padding: 120px 0 140px;
}
.header-bg-img {
	clip-path: none;
	padding: 160px 0 190px;
}
.custom-nav .navbar-nav{
	margin-top:15px;
}
.custom-nav .navbar-nav li a {
	margin: 0 0px;
	line-height: 20px;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	padding:9px 2px 8px 2px;
}
.about_short_contact_wrap ul li{
	width:100%;
}
ul.about-social li {
    margin-right: .3rem !important;
}
.btn-outline-custom, .btn-custom{
	margin-bottom:10px;
}
.services-boxes{
	margin-bottom:0;
}
.header-name {
	font-size: 38px;
}
.clip-home {
	clip-path: none;
}
}
@media (max-width: 2560px) {
.home-bg .curv-img {
	bottom: -5px;
}
}
#select_color_switcher_option div h3 {
	font-size: 16px;
	margin: 8px 3px 12px
}
#select_color_switcher_option {
	background: none repeat scroll 0 0 #ffff;
	box-shadow: 0px 3px 14px 0 rgba(0, 0, 0, .25);
	left: -189px;
	position: fixed;
	top: 25%;
	width: 189px;
	z-index: 9999;
	padding: 10px;
	border-radius:0 5px 5px 0;
}
#select_color_switcher_option div {
	padding:0;
    text-align: center;
}
#select_color_switcher_option .bottom {
	background: none repeat scroll 0 0 #fff;
	color: #252525;
	padding: 0
}
#select_color_switcher_option .bottom a.settings {
	background: none repeat scroll 0 0 #2d2a2a;
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .08);
	display: block;
	height: 40px;
	position: absolute;
	right: -40px;
	top: 73px;
	width: 40px;
	padding: 3px;
	border-radius:0 20px 20px 0 !important;
}
#select_color_switcher_option .bottom a {
	text-decoration: none
}
#select_color_switcher_option .bottom a.settings i {
	margin-left: -14px;
	color: #fff;
	font-size: 22px;
	position: absolute
}
ul.pattern {
	list-style: none outside none;
	margin: 0 0 0;
	overflow: hidden;
	padding: 0;
	border-radius: 0
}
ul.pattern li {
	float: left;
	margin: 2px
}
ul.pattern li a {
	cursor: pointer;
	display: block;
	height: 46px;
	width: 46px;
	border-radius:6px;
	margin: 3px
}
ul.pattern li a.active{
	border: 5px solid #545454;
    border-radius: 8px;
}
ul.pattern .color1 {
	background: #1eb1de;
}
ul.pattern .color2 {
	background: #ff214f;
}
ul.pattern .color3 {
	background: #1da252;
}
ul.pattern .color4 {
	background: #3643de;
}
ul.pattern .color5 {
	background: #bd49da;
}
ul.pattern .color6 {
	background: #f98712;
}
ul.pattern .color7 {
	background: #e86100;
}
ul.pattern .color8 {
	background: #FFBF00;
}
ul.pattern .color9 {
	background: #f3569a;
}
@media only screen and (max-width:767px) {
.section#about h2 {
    font-size: 26px;
}
.work_menu{
	border-radius:10px;
}
.testi_boxes {    
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.05);
	padding:20px;
}
.header-name {
    font-size: 34px;
}
.header-name span.element, .header-name span.simple-text-rotate{
    width: 100%;
    display: inline-block;	
}
.header-name span.typed-cursor{
    display:none;
}
.first-title {
    font-size: 1.5rem;
    line-height: 34px;
}
.btn {
    padding: 10px 20px;
}	
#home-svg {
    height: 80px;
}	
}
@media only screen and (max-width:479px) {
#select_color_switcher_option {
	display: none
}
.testi_boxes .tam_testi_icon, .testi_boxes .tam_testi_icon2{
	display:none;
}
}
@media only screen and (max-width:430px) {
.action-btns .list-inline-item {
    display:block;
}
.app-download-list {
    margin-top: 25px;
}	
}